@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Cormorant+Garamond:wght@300;400&family=Crimson+Pro:wght@300;400&family=Inter:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#F2EEE7;

    color:#262321;

}

.prueba{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

}

.prueba h1{

    font-size:5rem;

    font-weight:400;

    line-height:.9;

    letter-spacing:.15em;

    text-align:center;

}

.prueba h1 span{

    display:block;

}

.prueba p{

    margin-top:30px;

    font-family:Inter,sans-serif;

    color:#6D665E;

    letter-spacing:.2em;

    font-size:.95rem;

}@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Cormorant+Garamond:wght@300;400&family=Crimson+Pro:wght@300;400&family=Inter:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#F2EEE7;

    color:#262321;

}

.prueba{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

}

.prueba h1{

    font-size:5rem;

    font-weight:400;

    line-height:.9;

    letter-spacing:.15em;

    text-align:center;

}

.prueba h1 span{

    display:block;

}

.prueba p{

    margin-top:30px;

    font-family:Inter,sans-serif;

    color:#6D665E;

    letter-spacing:.2em;

    font-size:.95rem;

}.eb h1{

    font-family:'EB Garamond',serif;

}

.cormorant h1{

    font-family:'Cormorant Garamond',serif;

}

.crimson h1{

    font-family:'Crimson Pro',serif;

}